body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-gap: 15px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-column: span 2;
  background-color: #006157;
}

.sidebar {
  grid-row: span 2;
  background-color: #005B94;
}

.nav {
  background-color: #642cde;
}

.article {
  grid-column: 2;
  background-color: #7E1DC3;
}

.footer {
  grid-column: span 2;
  grid-row: 4;
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}